        
        
        h1 {
            color: rgb(255, 255, 255);
        }  

        p {
            color: rgb(255, 255, 255);
        }  

        a {
            color: rgb(255, 255, 255);
        }  
        
        body {
            background-color: rgb(80, 135, 174);
        }
   #supreme{
            background-image: url("myBackground.jpg");
        
     }
        
            
